body {
  background: #08233e;
  font: 11px Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

#header-wrap {
  margin: 0 auto;
  width: 960px; }

#main-header {
  margin: 0;
  padding: 0; }
  #main-header img {
    float: left;
    margin-top: 15px; }

.right-con {
  float: right;
  margin-left: 30px;
  margin-top: 5px; }
  .right-con img {
    opacity: 0.5;
    transition: 0.5s; }
    .right-con img:hover {
      opacity: 1; }

.be {
  color: #fafafa;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
  margin-top: 14px;
  margin-left: 10px;
  float: right;
  opacity: 0.5;
  transition: 0.5s; }
  .be:hover {
    opacity: 1; }

.facebook {
  color: #fafafa;
  float: right;
  margin-top: 11px;
  margin-left: 10px;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.5s; }
  .facebook:hover {
    opacity: 1; }

#main-nav {
  float: right; }
  #main-nav ul {
    list-style: none; }
  #main-nav li {
    display: inline-block; }
  #main-nav a {
    color: #fafafa;
    font: 11px;
    opacity: 0.7;
    padding: 5px;
    text-decoration: none;
    transition: ease 0.5s; }
    #main-nav a.active {
      border-bottom: 2px solid #fafafa; }
    #main-nav a:hover {
      border-bottom: 2px solid #fafafa;
      opacity: 1; }

#content-wrap {
  margin: 0 auto;
  width: 960px; }

#main-content {
  float: left;
  margin-top: 50px; }
  #main-content .info-text {
    color: #fafafa;
    float: left; }
    #main-content .info-text span {
      font-family: Arial Black; }
