$width: 960px; // Main width

$font-size: 11px;
$font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;

$left: left; // Float Left
$right: right; // Float Right

// Colors
$blue: #08233e;
$white: #fafafa;
$background-col: $blue;