#content-wrap {
	margin: 0 auto;
	width: $width;
}
#main-content {
	float: left;
	margin-top: 50px;
	.info-text {
		color: $white;
		float: left;
		span {
		font-family: Arial Black; // May be easier to use font-weight: for the same purpose
		}
	}
} // / #main-content