body {
	background: $background-col; // Added variable for color
	font: $font-size $font-stack; // Fixed the sans-serif fallback, always good to make the font a global fallback rule, also made it into a variable
	margin: 0;
	padding: 0;
}
#header-wrap {
	margin: 0 auto;
	width: $width;
}

#main-header {
	margin: 0;
	padding: 0;
	img {
		float: left;
		margin-top: 15px;
	}
}// #main-header

.right-con {
	float: right;
	margin-left: 30px;
	margin-top: 5px;
	img {
		@include opaque-hover; // Added a mixin where code was repeated, check the mixin for the code chunk
	}
} // .right-con

.be {
	color: $white; // Added variable for color
	cursor: pointer;
	font-weight: bold;
	font-size: $font-size; // Added varible for font-size
	margin-top: 14px;
	margin-left: 10px;
	float: right;
	@include opaque-hover; // Added a mixin where code was repeated, check the mixin for the code chunk
} // .be

.facebook {
	color: $white; // Added variable for color
	float: right;
	margin-top: 11px;
	margin-left: 10px;
	text-decoration: none;
	@include opaque-hover; // Added a mixin where code was repeated, check the mixin for the code chunk
} // .facebook

#main-nav {
	float: right;
	ul {
		list-style: none;
	} // ul
	li {
		display: inline-block;
	} // li
	a {
		color: $white; // Added variable for color
		font: $font-size;  // Added varible for font-size;
		opacity: 0.7;
		padding: 5px;
		text-decoration: none;
		transition: ease 0.5s;
		&.active {
			border-bottom: 2px solid $white; // Added variable for color
		}
		&:hover {
			border-bottom: 2px solid $white; // Added variable for color
			opacity: 1;
		}
	} // a
}// / #main-nav






